<ion-header>
 <ion-toolbar color="primary">
  <ion-title class="w-full text-center">Recipe List</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="bg-gray-100 p-4 sm:p-6">
  <div class="max-w-3xl mx-auto mt-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6">
      
      @for (item of recipes; track item.id) {
        
       <a [routerLink]="['/recipe-detail', item.id]" class="block">
  <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 h-full flex flex-col">
    <img [src]="item.image" alt="{{ item.name }}" class="w-full h-48 object-cover" />
    
    <div class="p-4 flex flex-col flex-grow">
      <h3 class="text-xl font-bold uppercase tracking-wider text-gray-800">
        {{ item.name }}
      </h3>
      <p class="text-sm text-gray-500 mt-1">
        {{ item.cuisine }} Cuisine
      </p>

      <div class="flex-grow"></div>

      <div class="flex justify-between items-center pt-3 mt-4 border-t border-gray-200">
        <div class="flex items-center text-sm text-gray-600">
          <ion-icon name="star" class="text-yellow-500 mr-1"></ion-icon>
          <span>{{ item.rating }} ({{ item.reviewCount }})</span>
        </div>

        <div class="flex items-center text-sm text-gray-600">
          <ion-icon name="time-outline" class="mr-1"></ion-icon>
          <span>{{ item.cookTimeMinutes }} min</span>
        </div>
      </div>
    </div>
  </div>
</a>
      }
    </div>
  </div>
</ion-content>